<a href="https://colab.research.google.com/github/Achol15/Python/blob/main/Lab_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello

In [1]:
print("Hello World!")

Hello World!

Comment

In [2]:
# sample comment
# This is Python Comment
name = "Noor"
print(name)

Noor

Variable

In [25]:
age = 21
salary = 1456.8
name = "Achol"

print(age)
print(salary)
print(name)
x = 69
x = "Bangladesh"

print(x)
print(type(x))

21
1456.8
Achol
Bangladesh
<class 'str'>

Data Type

In [5]:
x = "Hello World" # string
x = 50  # integer
x = 60.5  # float
x = 3j  # complex
x = ["geeks", "for", "geeks"]  # list
x = ("geeks", "for", "geeks")  # tuple
x = {"name": "Achol", "age": 21} # dict
x = {"geeks", "for", "geeks"} # set
x = True  # bool
x = b"Geeks" # binary

Input/Output

In [21]:
val = input("Enter your value: ")
print(val)
x = input("Enter the first number: ")
y = input("Enter the second number: ")

add = x+y
print(add)

Enter your value: 10
10
Enter the first number: 5
Enter the second number: 6
56

Operators

In [7]:
a = 9
b = 4
add = a + b
sub = a - b
mul = a * b
mod = a % b
p = a ** b
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

Logical Operetor

In [8]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

Assignment Operators

In [9]:
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

If Else

In [10]:
i = 20
if (i < 15):
    print("i is smaller than 15")
    print("i'm in if Block")
else:
    print("i is greater than 15")
    print("i'm in else Block")
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

if-elif-else

In [11]:
i = 20
if (i == 10):
    print("i is 10")
elif (i == 15):
    print("i is 15")
elif (i == 20):
    print("i is 20")
else:
    print("i is not present")

i is 20

For Loop

In [12]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

While Loop

In [13]:
count = 0
while (count < 3):
    count = count + 1
    print("Hello")

Hello
Hello
Hello

Escape sequence

In [15]:
a = 5
b = 7

sum = a + b
print("Sum is", sum)

print("Display \"Hi\" in quotes")

print("Display \'Hi\' in quotes")

print("""Display "Hi" and "Bye" in quotes """)

Sum is 12
Display "Hi" in quotes
Display 'Hi' in quotes
Display "Hi" and "Bye" in quotes

Print function

In [22]:
print("Welcome to Python!")

print("Welcome", "to", "Python!")

print("Welcome\n to\n Python!")

Welcome to Python!
Welcome to Python!
Welcome
 to
 Python!

Syntex

In [24]:
print("Hello World!")

a = 5
b = 2
print(a+b)

Hello World!
7